/samples
/reference
/analysis/*/.*
*.DS_Store
samples/*
reference/*
analysis/*/data/*
analysis/*/output/*
analysis/*/figs/*
analysis/*/report/*.html
*.log
analysis/*/*/*.txt
analysis/*/scripts/.R*
analysis/03_ASprofile/ind/
analysis/05_IRfinder/IRfinder_software/
analysis/05_IRfinder/REF/
analysis/06_rMATS/rMATS_pkg/
analysis/*/Send
analysis/*/scripts/*.html
analysis/*/*detk_report*
analysis/*/scripts/*detk_report*
analysis/14_Day3/analysis/*/*/*.txt
analysis/14_Day3/analysis/*/scripts/.R*
analysis/14_Day3/analysis/*/scripts/*.html
analysis/14_Day3/analysis/*/report/*.html
analysis/14_Day3/analysis/*/data/*
analysis/14_Day3/analysis/*/output/*
analysis/14_Day3/analysis/*/figs/*
analysis/14_Day3/analysis/*/.*
*snakejob*
analysis/14_Day3/samples/
